apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- oauth-proxy-sa.yaml
- eso-oauth-proxy.yaml
- rolebinding.yaml
- deployment.yaml
- service.yaml
- route.yaml
