cluster_name = "my-rosa-hcp"

# Cluster sizing (Single-AZ, 2ノード構成)
replicas             = 2
availability_zones   = ["ap-northeast-1a"]
private_subnet_cidrs = ["10.0.1.0/24"]
public_subnet_cidrs  = ["10.0.101.0/24"]

# Google Workspace OIDC (無効)
google_idp_enabled = false
